<!DOCTYPE html>
<html>
<head>
	<title>Client Details</title>
</head>
<body>
	<h1>Client Details</h1>
	<table>
		<tr>
			<th>Client ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>City of Residence</th>
			<th>Age</th>
			<th>Marital Status</th>
			<th>Education</th>
			<th>Phone Number</th>
			<th>Job ID</th>
		</tr>
		{% for client in clients %}
			<tr>
				<td>{{ client.client_id }}</td>
				<td>{{ client.first_name }}</td>
				<td>{{ client.last_name }}</td>
				<td>{{ client.city_residence }}</td>
				<td>{{ client.age }}</td>
				<td>{{ client.marital_status }}</td>
				<td>{{ client.education }}</td>
				<td>{{ client.phone_num }}</td>
				<td>{{ client.job_id }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>
