<!DOCTYPE html>
<html>
<head>
	<title>Bank Marketing Data</title>
</head>
<body>
	<h1>Welcome to the Bank Marketing Data website</h1>
	<p>Use the links below to navigate to the different pages:</p>
	<ul>
		<li><a href="clients.html">Client Details</a></li>
		<li><a href="campaigns.html">Campaign Details</a></li>
		<li><a href="last_contacts.html">Last Contact Details</a></li>
		<li><a href="jobs.html">Job Details</a></li>
		<li><a href="loan_details.html">Loan Details</a></li>
		<li><a href="socioeconomic_details.html">Socioeconomic Details</a></li>
	</ul>
</body>
</html>
